echo "Flask==3.1.2
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
SQLAlchemy==2.0.45
Werkzeug==3.1.4
pyTelegramBotAPI==4.29.1
requests==2.32.5
google-generativeai==0.8.6
cryptography==42.0.5
numpy==1.26.4
pandas==2.2.1
pdfplumber==0.11.8
python-docx==1.2.0" > requirements.txt
